
html { 
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}   

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


body .canvas {
    
    position: relative;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}


.canvasContainer {
  width: 100%;
  height: 100%;
}


#startMenu {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    -webkit-animation: fadeIn 5s ease;
       -moz-animation: fadeIn 5s ease;
        -ms-animation: fadeIn 5s ease;
         -o-animation: fadeIn 5s ease;
            animation: fadeIn 5s ease;
            

}

#startMenu>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-bottom: 20%;
    width: 100%;
    transition: 0.25s;
    background: none;
}
  
  
  h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
  }

  .highScore {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    padding: 20px;
    color: white;
    font-size: large;
  }

  .score {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    padding: 20px;
    color: white;
    font-size: large;
  }

  .lives {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    padding: 20px;
    left: 200px;
    color: white;
    font-size: large;
  }

  .firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
  }
  
  .container {
    overflow: hidden;
    position: relative;
    padding-bottom:30px;
  }
  
  .btn {
    height: 60px;
    width: 150px;
    display: flex;
    
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    position: relative;
    border: 1px solid rgb(237, 192, 255);
    background-color: #500243;
    margin: 0 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
    transition: all 300ms ease;
  }
  
  .btn::before,
  .btn::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }
  
  .btn h4 {
    color: #fff;
  }
  
  .btn:after {
    width: 300%;
    height: 300%;
    left: -300%;
    transform: rotate(45deg);
    background-color: rgb(237, 192, 255);
    transition: all 300ms ease;
  }
  
  .btn:hover h4 {
    color: #500243;
    z-index: 10;
    font-weight: 600;
  }
  
  .btn:hover::after {
    left: -100%;
  }
  
  .btn:hover {
    border: 2px solid #500243;
    transform: translateX(10px);

  }

  .btn:active {
    transform: scale(80%);
  }
    
  


  
.initialAnimation {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nave {
  width: 240px;
  position: absolute;
}

.font {
  font-family: 'VCR OSD MONO';
  font-size: 60px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 25%;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* .floating {
  animation: floating 5s ease-in-out 15s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
} */

@-webkit-keyframes slide-in-bottom {
  0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
  }

  100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
  }

  100% {
      -webkit-transform: translateY(0px);
      transform: translateY(5px);
      opacity: 1;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
  }

  100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
  }

  100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
  }
}


/*   FADE IN ANIMATIONS FOR DIFFERENT BROWSERS   */

@keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1;}
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}





