@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  width: 100%;
  height: 100%;
  font-family: "Press Start 2P", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Todas as configurações do menu options */

#menuOptions {
  z-index: 1000;
  position: absolute;
  width: 600px;
  height: 600px;
  justify-content: center;
  color: white;
  align-items: center;
  border: 0;
  border-top: 10px solid rgb(237, 192, 255);
  border-radius: 10px;
  background: rgb(80, 2, 67);
  background: linear-gradient(48deg,
      rgba(80, 2, 67, 1) 0%,
      rgba(133, 5, 111, 1) 35%,
      rgba(240, 4, 200, 1) 100%);
  margin: auto;
  transition: all 300ms ease;
  overflow: hidden;
}


#menuOptions #optionsTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  background: linear-gradient(48deg, rgb(185, 6, 155) 0%, rgb(241, 202, 235) 35%, rgb(190, 0, 159) 100%);
  -webkit-background-clip: text;
  /* Isto serve para que o gradiente fique colocado no interior do texto */
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* Parte especifica: som */
.sounds {
  margin-bottom: 20px;
}

/* Sliders que controlam o som */

.slidecontainer {
  position: absolute;
  right: 10px;
  display: flex;
  margin-top: -20px;
  width: 270px;
}

/* O próprio slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Efeitos quando se passa o rato */
.slider:hover {
  opacity: 1;
}

/* O quadradinho do slider */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  background: #500243;
  cursor: pointer;
}

.sounds>h3 {
  margin-left: 20px;
  margin-bottom: 7px;
}


/* Parte de escolha de estilo */

#chooseStyle {
  margin-top: 40px;
}

/* container carrosel */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Imagens alinhadas */
.contentInsideMenu {
  position: relative;
  margin: auto;
  text-align: center;
}

/* Botoes de antes e depois */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  transition: all 0.8s ease;
  border: 1px solid rgb(237, 192, 255);
  background-color: #500243;
  margin: 0 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 300ms ease;
  font-size: 18px;

}

/* Ajustes extra ao botão proximo */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Quando se sobrepõe o rato, o fundo altera */
.prev:hover,
.next:hover {
  color: #500243;
  background-color: rgb(237, 192, 255);
  transition: all 300ms ease;
  font-size: 18px;
}

/* Texto de descrição */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 5px 12px;
  bottom: 2px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Canvas */
body .canvas {
  position: relative;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.canvasContainer {
  width: 100%;
  height: 100%;
}

/* Menu de começo */

#startMenu {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  -webkit-animation: fadeIn 5s ease;
  -moz-animation: fadeIn 5s ease;
  -ms-animation: fadeIn 5s ease;
  -o-animation: fadeIn 5s ease;
  animation: fadeIn 5s ease;
}

#startMenu>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

/* Ecrã do menu quando se perde */

.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
}

.highScore {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  padding: 20px;
  color: white;
  font-size: large;
}

.score {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  padding: 20px;
  color: white;
  font-size: large;
}

.lives {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  padding: 20px;
  left: 400px;
  color: white;
  font-size: large;
}

.firstContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20%;
}

.container {
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}


/* Estilização dos botoes */
.btn {
  margin-bottom: 20%;
  width: 100%;
  transition: 0.25s;
  background: none;
}

.btn {
  height: 60px;
  width: 150px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  position: relative;
  border: 1px solid rgb(237, 192, 255);
  background-color: #500243;
  margin: 0 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
  transition: all 300ms ease;
}

.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}

.btn h4 {
  color: #fff;
}

.btn:after {
  width: 300%;
  height: 300%;
  left: -300%;
  transform: rotate(45deg);
  background-color: rgb(237, 192, 255);
  transition: all 300ms ease;
}

.btn.selected:after {
  width: 300%;
  height: 300%;
  left: -300%;
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
  transition: all 300ms ease;
}

.btn:hover h4 {
  color: #500243;
  z-index: 10;
  font-weight: 600;
}

.btn.selected:hover h4 {
  color: #000000;
  z-index: 10;
  font-weight: 600;
}

.btn:hover::after {
  left: -100%;
}

.btn:hover {
  border: 2px solid #500243;
  transform: translateX(1px);
}

.btn:active {
  transform: scale(80%);
}

/* Animação no ecrã principal  */

.initialAnimation {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nave {
  width: 240px;
  position: absolute;
  animation: slide-in-bottom 2s ease 0s normal forwards,
    floating ease-in-out 10s infinite 2.1s normal forwards;
}

.font {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 30%;
}

/* Definiçao das animaçoes */

/* Texto inicial */
.focus-in-expand {
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Nave */
@keyframes floating {
  0% {
    transform: translate(0, -20px);
  }

  20% {
    transform: translate(0px, -18px);
  }

  40% {
    transform: translate(0px, -22px);
  }

  60% {
    transform: translate(0px, -24px);
  }

  80% {
    transform: translate(0px, -22px);
  }

  100% {
    transform: translate(0, -20px);
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

/* Mais texto inicial */

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*   Animações fade in dependendo do browser  */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}