@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Definição do tipo de letra e ajustar o ecrã para que todo o espaço seja utilizado */
html {
  width: 100%;
  height: 100%;
  font-family: "Press Start 2P", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ajuste e alinhamento dos elementos na main */

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container canvas alinhado de modo a ocupar todo o ecrã */

body .canvas {
  position: relative;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.canvasContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Definidas as animações dentro do próprio elemento e não no seu container */

/* Asteroide */
.containerAsteroid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.asteroid {
  position: absolute;
  width: 450px;
  animation: enterScreen 5s ease-in-out 0s 1 normal forwards,
    float 5s ease-in-out 5s infinite normal forwards,
    byebye 7.2s normal forwards;
}

/* Alienigena */
.alien {
  opacity: 0;
  position: absolute;
  width: 50px;
  animation: appear 3s ease 4s 1 normal forwards, byebye 7.2s normal forwards;
}

/* Os quadrados que dão origem à explosão */
.explosionNum1 {
  opacity: 0;
  border: 8px solid #a4243b;
  border-radius: 5%;
  height: 400px;
  width: 400px;
  background-color: #a4243b;
  position: absolute;
  animation: exist 1s ease-out 7.22s 1 normal forwards;
}

.explosionNum2 {
  opacity: 0;
  border: 50px solid #ec7505;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #e8b100;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -125px;
  animation: existNum2 1s ease-out 7.22s normal forwards;
}

/* Container que posiciona o tiro e a criação do mesmo */
.containerShot {
  position: absolute;
  opacity: 1;
}

.shot {
  height: 10px;
  width: 10px;
  opacity: 0;
  border-radius: 50%;
  background-color: #e8b100;
  margin-left: auto;
  margin-right: auto;
  animation: shot 0.2s linear 6.8s 1 normal forwards,
    byebye 7.2s normal forwards;
}

/* Todas as animações foram realizadas usando keyframes que mexem na escala, translação e opacidade/visibilidade dos objetos */

/* Keyframes da animação que permite o surgimento das explosões */
@keyframes exist {
  0% {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(5);
    -webkit-transform: scale(5);
  }
}

@keyframes existNum2 {
  0% {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
    -webkit-transform: scale(4);
  }
}

/* Asteroide entra no ecrã e fica a flutuar */
@keyframes enterScreen {
  0% {
    opacity: 0;
    transform: translateY(-250px) rotate(-200deg);
  }

  100% {
    opacity: 1;
    transform: translateY(-30px) rotate(0deg);
  }
}

/* Várias translações pequenas dão o efeito de flutuar */

@keyframes float {
  0% {
    transform: translate(0, -30px);
  }

  20% {
    transform: translate(-2px, -28px);
  }

  40% {
    transform: translate(-2px, -32px);
  }

  60% {
    transform: translate(2px, -34px);
  }

  80% {
    transform: translate(2px, -32px);
  }

  100% {
    transform: translate(0, -30px);
  }
}

/* Alien aparece por detrás do asteroide */

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(0px, -100px);
  }

  100% {
    opacity: 1;
    transform: translate(-250px, -250px);
  }
}

/* Animação que permite o tiro que explode tudo */

@keyframes shot {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }

  100% {
    opacity: 1;
    transform: translateY(110px);
  }
}

/* Animação que retira todos os objetos do ecrã */
@keyframes byebye {
  0% {
    visibility: show;
  }

  100% {
    visibility: hidden;
  }
}
